.area-container{
    margin: auto;
    margin-top: 80px;
    padding: 50px;
    border: 2px solid #22bb33;
    width: 70%;
    border-radius: 20px;
    box-shadow: 5px 10px #22bb33;
}
.area-container h1{
    color: #22bb33;
    font-weight: bold;
}
.form{
    margin: 20px;
    padding: 10px;
    color: #22bb33;
    
    font-weight: bold;
    font-size: 24px;
    text-align: start;

}



 #shapes{
    border: 1.5px solid #22bb33;
    color: #22bb33;
    outline: none;
}
#input-circle , #input-triangle , #input-rectangle , #input-square{
    margin: 5px 0px;
}
#input-circle label, #input-triangle label, #input-rectangle label, #input-square label{
    margin: 10px 10px 20px;
}

#input-circle input, #input-triangle input, #input-rectangle input, #input-square input{
    color: #22bb33;
    border: 2px solid #22bb33;
    outline: none;
    padding-left: 5px;
    margin: 5px 0px;
}

#button{
    margin: 10px 10px 25px;
    padding: 5px 10px;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    color:	#22bb33;
    
    box-shadow: 5px 10px black;
    border: 1px solid black;
}

#button:hover{
    color: black;
}
    
