
 #header{
    width: 99.5%;
    height: 10vh;
    background: red;
    margin: 5px;
    
    
    color: #fff;
}

#main{
    width: 80%;
    margin: auto;
    height: 65vh;
    color: #fff;
    background: green;
}

#right{
    float: right;
    background: blue;
    color: #fff;
    width: 9.6%;
    height: 65vh;
    margin-right: 5px;
}

#left{
    float: left;
    background: blue;
    color: #fff;
    width: 9.6%;
    height: 65vh;
    margin-left: 5px;
}

#footer{
    width: 99.5%;
    height: 14.5vh;
    background: red;
    margin: 5px;
    
    
    color: #fff;
}

